<!DOCTYPE html>
<html>
<head>
  <title>EasyShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
</html>

<%= render "nav" %>
<div class='container'>
  <%= content_tag :div, notice, class: "gb-success" %>
  <%= content_tag :div, alert, class: "bg-success" %>
  <%= yield %>
</div>

</body>
</html>
